# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Rust/Tauri
/src-tauri/target/
/src-tauri/binaries/
/src-tauri/gen/

# Environment/Secrets
.env
.env.*
cert.pem
*.pem
*.key
*.pub

# Config & Credentials
app_config.json
test-creds.json
*creds.json
*credentials.json
cloudflared-creds.json

# Binaries/Executable
*.exe
*.msi
*.app
*.dmg
cloudflared
cloudflared-windows-amd64.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
